In [20]:
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi']
fruits.append('gvava')
print(fruits)
fruits.extend(['gvava','orange'])
print(fruits)
fruits.insert(2,'kiwi')
print(fruits)
fruits.remove('kiwi')
print(fruits)
fruits.pop(3)
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'gvava']
['apple', 'banana', 'orange', 'grape', 'kiwi', 'gvava', 'gvava', 'orange']
['apple', 'banana', 'kiwi', 'orange', 'grape', 'kiwi', 'gvava', 'gvava', 'orange']
['apple', 'banana', 'orange', 'grape', 'kiwi', 'gvava', 'gvava', 'orange']
['apple', 'banana', 'orange', 'kiwi', 'gvava', 'gvava', 'orange']

In [29]:
fruits.index('banana')
print(fruits)
fruits.count('gvava')
print(fruits)
fruits.sort(reverse=False)
print(fruits)
new = fruits.copy()
print(new)
fruits.clear()
print(fruits)

['apple', 'banana', 'orange', 'kiwi', 'gvava', 'gvava', 'orange']
['apple', 'banana', 'orange', 'kiwi', 'gvava', 'gvava', 'orange']
['apple', 'banana', 'gvava', 'gvava', 'kiwi', 'orange', 'orange']
['apple', 'banana', 'gvava', 'gvava', 'kiwi', 'orange', 'orange']
[]

In [36]:
lst=['banana','gavava','orange','kiwi']
print(lst.index('gavava'))

1

In [60]:
stack = [3,4,5]
stack.append(6)
stack.insert(1,7)
stack

[3, 7, 4, 5, 6]

In [61]:
stack.pop()
print(stack)
stack.remove(7)
stack

[3, 7, 4, 5]

[3, 4, 5]

In [64]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")  
print(queue)        
queue.append("Graham")  
print(queue)        
queue.popleft()              
print(queue)
queue.popleft()                 

queue

deque(['Eric', 'John', 'Michael', 'Terry'])
deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
deque(['John', 'Michael', 'Terry', 'Graham'])

deque(['Michael', 'Terry', 'Graham'])

In [69]:
squares = []
for x in range(10):
    squares.append(x*x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
squares = list(map(lambda x: x*x,range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
lst = [(x,y) for x in [1,2,3] for y in [3,4,5] if x!=y]
lst

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

In [77]:
vec = [-4,-2,0,2,4]
lst = [x*2 for x in vec]
print(lst)
lst = [x*2 for x in vec if x>=0]
lst

[-8, -4, 0, 4, 8]

[0, 4, 8]

In [80]:
[abs(x*x) for x in vec]

[16, 4, 0, 4, 16]

In [84]:
[(x,x*x) for x in range(10)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [87]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
for elem in vec:
    for num in elem:
        print(num,end=" ")

1 2 3 4 5 6 7 8 9

In [88]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
from math import pi
print(pi)
[str(round(pi,i)) for i in range(5)]
[round(pi,i) for i in range(5)]

3.141592653589793

[3.0, 3.1, 3.14, 3.142, 3.1416]

In [108]:
matrix = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [100]:
result =[]
for i in range(4):
    new = []
    for row in matrix:
        new.append(row[i])
    result.append(new)
print(result)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [102]:
result = []
for i in range(4):
    result.append([row[i] for row in matrix])
print(result)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [110]:
matrix = [[1,2,3,4],[5,6,7,8],[7,8,9,10],[11,12,13,14],[15,16,17,18]]
list(zip(*matrix))

[(1, 5, 7, 11, 15), (2, 6, 8, 12, 16), (3, 7, 9, 13, 17), (4, 8, 10, 14, 18)]

In [114]:
a = [2,5,-7,8,-1,45.9,99]
del a[0]
print(a)
del a[2:4]
a

[5, -7, 8, -1, 45.9, 99]

[5, -7, 45.9, 99]

In [132]:
t = 1234,4321,'Hi!'
t[0]
u = t,(1,3,5,7)
u
v=([1,2,3],[4,5,6])
v
x,y,z = t

In [131]:
empty =()
name = 'Hello','Hi'
len(empty)
len(name)
name

('Hello', 'Hi')

In [137]:
basket = {'apple','banana','apple','orange','banana'}
basket
'orange' in basket
'cabbage' in basket

False

In [144]:
a = set('abdfnfddcdf')
b = set('cfncvf')
b
a
a & b
a | b
a ^ b

{'a', 'b', 'd', 'v'}

In [146]:
a = {x for x in 'abcjnfdjnf' if x not in 'abc'}
a

{'d', 'f', 'j', 'n'}

In [162]:
name = {'jack':142,'Rose':567}
name['arien']=879
name['Rose']
print(name.get('Rose'))
name

567

{'jack': 142, 'Rose': 567, 'arien': 879}

In [163]:
del name['arien']
name['jems'] = 879 
name

{'jack': 142, 'Rose': 567, 'jems': 879}

In [166]:
list(name)
sorted(name)

['Rose', 'jack', 'jems']

In [169]:
dict([('robin',25),('sam',34),('rose',26)])

{'robin': 25, 'sam': 34, 'rose': 26}

In [173]:
{x:x*x for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [175]:
dict(rose=78,robin=323,lisa=23)

{'rose': 78, 'robin': 323, 'lisa': 23}

In [176]:
br = {'robin':'the brave','mountain':'is large'}
for key,value in br.items():
    print(key,value)

robin the brave
mountain is large

In [179]:
game = (['tic','tac','toe'])
for i,g in enumerate(game):
    print(i,g)

0 tic
1 tac
2 toe

In [194]:
question = ['name','favoriate food','favorite color']
answers = ['John','Apple','Blue']
for q,a in zip(question,answers):
    #print('what is your {0}? it is {1}'.format(q,a))
    print(f'what is your {q} it is {a}')

what is your name it is John
what is your favoriate food it is Apple
what is your favorite color it is Blue

In [198]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [201]:
basket = ['apple','banna','orange','kiwi','apple','orange']
for i in sorted(basket):
    print(i)
print()
for i in sorted(set(basket)):
    print(i)

apple
apple
banna
kiwi
orange
orange

apple
banna
kiwi
orange

In [207]:
import math
data = [56.2,float('Nan'),89.4,47.5,float('Nan'),79.5]
#data = [59.6,math.nan,25.7,46.3,math.nan,79.4]
filtered = []
for value in data:
    if not math.isnan(value):
        filtered.append(value)
filtered

[56.2, 89.4, 47.5, 79.5]

In [212]:
string1,string2,string3='','tron','hammer'
not_null = string1 or string2 or string3
not_null

'tron'

In [214]:
(1,2,5)<(1,2,4)

False

In [215]:
[1,2,3]<[1,2,4]

True

In [221]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [223]:
(1,2)<(1,2,-1)

True

In [224]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [225]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True