In [1]:
# reverse print
name = "Hello"
print(name[::-1])

olleH

In [2]:
# even number
lst = [1,2,3,4,5,6,7,8]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

In [4]:
#data filtering
data = [
    ["Riya", 22, 40000],
    ["Aman", 17, 20000],
    ["Neha", 25, 50000]
]
def eligible(data):
    valid=[]
    for d in data:
        if d[1]>=21 and d[2]>=35000:
            valid.append(d[0])
        return valid
result = print(eligible(data))

['Riya']

In [5]:
# addition 
input =[1,2,3,4]
sum = 0
for i in input:
    sum+=i
    print(sum)

1
3
6
10

In [6]:
#swap two number use extra variable    
a = 5
b = 2
c = a
a = b
b = c
print(a,b)

2 5

In [7]:
# while loop        
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
#zip method 
names ="A","B"
salary = 20000,40000
for n , s in zip(names,salary):
    print(n,s)

A 20000
B 40000

In [9]:
#enumerate use for indexing list
lst =["apple","banana","mango"]
for index,name in enumerate(lst):
    print(index,name)

0 apple
1 banana
2 mango

In [10]:
# reverse string
s = "python"
rev = ""
for i in s:
    rev = i+rev
print(rev)

nohtyp

In [11]:
# vowels counting
s = "education"
vowels ="aeiou"
count = 0
for ch in s:
    if ch in vowels:
        count+=1
print(count)

5

In [12]:
#find a maximum number
lst = [10, 20, 30, 40]
max_num = lst[0]
for i in lst:
    if i > max_num:
        max_num = i
print(max_num)

40

In [13]:
#square for list
lst = [2, 4, 6, 8]
square =(l*l for l in lst )
for s in square:
    print(s)

4
16
36
64

In [2]:
# sum two number using function
def sum(a,b):
    return a+b
result = sum(200,300)
print(result)

500

In [3]:
#dictionary in for loop
student = {
    "name": "Riya",
    "age": 22,
    "marks": 85
}
for key,value in student.items():
    print(key,":",value)

name : Riya
age : 22
marks : 85

In [4]:
#nested loop
for i in range(4):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4

In [5]:
#pattern print
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [6]:
# 1 table print 
for i in range(1,2):
    for j in range(1,11):
        print(i,"*",j ,"=", i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [7]:
#data type change tuple to list
t=(10,20,30,40)
lst = list(t)
print(lst)

[10, 20, 30, 40]

In [8]:
#swap two numbers without any extra variable 
a=3
b=5
a,b = b,a
print(a,b)

5 3

In [ ]:
#basic data analysis
import pandas as pd
import numpy as np
df = pd.read_csv("data.csv")
df.head()
df.tail()
df.info()
df.describe()
df.isnull().sum()